body {
    background-image:url("CAB230bg2.jpg");
    background-size: cover;
    min-width:1024px;
    margin:0px;
}

#header {
    font-family:'Century Gothic';
    padding-top:20px;
    height:50px;
    font-size:40px;
    background-color:white;
    box-shadow:0px 10px 10px 10px white;
    text-align:center;
}

#header button {
    float:right;
    text-align:center;
    margin-top:15px;
    margin-right:35px;
    width:90px;
    border:1px solid #89c3eb;
}

#header button:hover {
    background-color:#00ffff;
}

#contentsOne {
    margin-bottom:45px;
    text-align:center;
    margin-top:55px;
    margin-right:30px;
    float:right;
    border:2px solid grey;
    background-color: rgba(0,0,0,0.7); 
    height:650px;
    width:550px;
}

#contentsOne h2 {
    margin-top:30px;
}

#contentsOne .boxOne {
    margin-top:40px;
    height:160px;
    width:auto;
    background-color:white;
    border:1px solid gray;
    margin-left:20px;
    margin-right:20px;
    text-align:center;
}


#contentsOne .boxTwo {
    margin-top:20px;
    height:160px;
    width:auto;
    background-color:white;
    border:1px solid gray;
    margin-left:20px;
    margin-right:20px;

}

#contentsTwo {
    
    margin-left:30px;
    margin-top:455px;
    margin-right:30px;
    float:left;
    border:2px solid grey;
    background-color: rgba(0,0,0,0.7); 
    height:250px;
    width:720px;
}

#contentsTwo p {
    margin-top:30px;
    margin-left: 400px;
}

#contentsTwo h2 {
    margin-top:30px;
    text-align:center;
}

#contentsTwo h3 {
    margin-top:-15px;
    margin-left:30px;
    font-size:20px;
}

#footer{
    float:bottom;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:20px;
    background-color:white;
    box-shadow: 10px 10px 10px 20px white;
}