body {
    background-image: url("images/background_2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}

.left-panel {
    width: 100%;
    height: 100px;
/*
    background-color: red;
    */
}

.right-panel {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 100px;


/*
    background-color: blue;
    */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 50px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*
    background-color: rgb(0,0,0); /* Fallback color */
    /*
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-a {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70px;
}

.modal-content-s {
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
    height: 370px;
    border-radius: 10px;

}

.modal-content-p {
    background-color: #660000;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content-r {
    background-color: #000066;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#content-form {
    width: 400px;
    margin: 0 auto;
    
    padding-top: 150px;
}

#searchform {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 420px;
    border-radius: 10px;
    border: 1px solid black;
}

#searchform-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
    clear: both;
}

#searchform-subtitle {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

.button {
    padding-top: 15px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;

    border: 1px solid black;

    width: 240px;
    height: 50px;

    margin: 0px auto 10px auto;
}

#auto-button {
    background-color: #ffffff;
}

#auto-button:hover {
    background-color: #ccffff;
}

#suburb-button {
    background-color: #ffffff;
}

#suburb-button:hover {
    background-color: #ccffff;
}

#park-button {
    background-color: #ffffff;
}

#park-button:hover {
    background-color: #ccffff;
}

#rating-button {
    background-color: #ffffff;
}

#rating-button:hover {
    background-color: #ccffff;
}

.dropMenu {
    background-color: transparent;
    color: white;
    padding: 0px 16px 16px 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    border: none;
    min-width: 168px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: transparent;
    min-width: 200px;
    height: 318px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #888;
    z-index: 1;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: block;
    background-color: #f5f5f0;
}

.dropdown a:hover {
    background-color: transparent;
    color: #ffffff;
}
