/* centre the header element and give it light text on
*  dark background
*/

body {
    background-image: url("images/background_2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100%;
}
#wrapper {
    width: 100%;
}

#header {
    width: auto;
    height: 100px;

    background-image: url("images/header_gradient.png");
}


#content {
    width: 1000px;
    height: 496px;
    
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-blend-mode: luminosity;
}

#content img {
    margin-left: 150px;
}

#footer {
    width: auto;
    height:80px;

	position: absolute;
	bottom: 0;
    
    background-color: rgba(00, 00, 17, 0.9);
}

#form-wrapper {
    width: 400px;
    margin: 0 auto;
}

#searchform {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    left: auto;
    border-radius: 10px;
    border: 5px solid black;
    position: relative;
    top: 20%;
}

#searchform label {
    padding-left: 5px;
}

#searchform input {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 70px;
    padding-right: 70px;
}

#searchform-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
}

#buttons {
    padding-left: 20px;
    padding-top: 10px;
    
    font-weight: bold;
    font-size: 25px;

    border: 1px solid black;
    background-color: rgb(255, 255, 255);

    width: 240px;
    height: 230px;

    margin-left: auto;
    margin-right: auto;
}

#submit-button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
}

#map {
    position: relative;
    top: 0px;

    height: 486px;
    width: 490px;

    border: 5px solid black;
}

#results {
    position: relative;
    top: 0px;

    height: 486px;
    width: 290px;

    border: 5px solid black;
    background-color: rgba(00, 00, 17, 0.9);

    float: right;
}

#results a {
    display: table-cell;
    height: 80px;
    width: 100%;
    border-style: outset;
    border-width: 4px;
    background-color: rgba(00, 00, 17, 0.5);    
}