body {
    background-image: url("images/background_image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    width: 100%;
}

.left-panel {
    width: 100%;
    height: 100px;
/*
    background-color: red;
    */
}

.right-panel {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 100px;


/*
    background-color: blue;
    */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-a {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content-s {
    background-color: #006600;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content-p {
    background-color: #660000;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content-r {
    background-color: #000066;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#content-form {
    width: 400px;
    margin: 0 auto;
    
    padding-top: 100px;
}

#searchform {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    border-radius: 10px;
    border: 5px solid black;
}

#searchform-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
}

#buttons {
    padding-left: 20px;
    padding-top: 10px;
    
    font-weight: bold;
    font-size: 25px;

    border: 1px solid black;
    background-color: rgb(255, 255, 255);

    width: 240px;
    height: 230px;

    margin-left: auto;
    margin-right: auto;
}

#buttons input {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 70px;
    padding-right: 70px;
}

#buttons label {
    padding-left: 5px;
}

#submit-button {
    width: 100px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    margin: 20px 150px;
}

#submit-button:hover {
    
    background-color: lightskyblue;
}
