body {
    background-image:url("../images/background_4.jpg");
    min-width:1024px;
    margin:0px;
}

input[type=text], input[type=password] {
    width: 360px;
    box-sizing: border-box;
    border: 1px solid #888;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgba(224, 224, 209, 0.6);
    padding: 5px 20px 5px 40px;
    margin: 5px 20px 15px 20px;    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
}

#content-form {
    width: 400px;
    margin: 0 auto;
    color: #ffffff;    
    padding-top: 200px;
}

#login-form {
    position: relative;
    background-color: rgba(0,0,0,0.6);
    padding-top: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    border: 1px solid #888;
}

#login-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
    clear: both;
}

.field-label {
    color: white;
    padding: 0px auto 10px auto;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.button {
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #000000;
    background-color: rgba(255, 255, 204, 0.7);
    transition: background-color 0.25s;

    border: 1px solid #888;
    border-radius: 4px;

    width: 80px;
    height: 25px;

    margin: 25px auto;
}

.button:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    transition: background-color 0.25s;
}

#register {
    position: relative;
    left: 60px;
    padding-top: 50px;
    color: white;
}

#register a {
    color: #ffff99;
    text-decoration: none;
}

#register a:hover {
    color: #cccc00;
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}