body {
    background-image:url("../images/background_3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-width:1024px;
    margin:0px;
}

input[type=text], input[type=password] {
    width: 360px;
    box-sizing: border-box;
    border: 1px solid #888;
    border-radius: 4px;
    font-size: 20px;
    background-color: rgba(224, 224, 209, 0.6);
    padding: 5px 10px;
    margin: 5px 0px 15px 20px;    
}



.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

#content-form {
    width: 400px;
    margin: 0 auto;
    color: #ffffff;    
    padding-top: 100px;
}

#signup-form {
    position: relative;
    background-color: rgba(0,0,0,0.6);
    padding-top: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 680px;
    border-radius: 10px;
    border: 1px solid #888;
}

.field-label {
    color: white;
    padding: 0px auto 10px auto;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

#date-fields {
    position: relative;
    left: 110px;
    margin: 5px auto 15px auto;
}

#terms {
    margin: 5px auto 15px auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

#terms a {
    color: #ffff99;
    text-decoration: none;
}

#terms a:hover {
    color: #cccc00;
}

.button {
    padding-top: 7px;
    font-size: 15px;
    text-align: center;
    color: #000000;
    background-color: rgba(255, 255, 204, 0.7);
    transition: background-color 0.25s;

    border: 1px solid #888;
    border-radius: 4px;

    width: 80px;
    height: 25px;

    margin: 25px auto;
}

.button:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    transition: background-color 0.25s;
}

#days {
    float: left;
}

#months {
    float: left;
}

.separator {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

#regist-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
    clear: both;
}

#f-name {
    width: 170px;
}

#l-name {
    width: 170px;
}

.name-field{
    float: left;
}

#name-label1 {
    color: white;
    padding: 0px 30px 0px 50px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;

    float: left;
}

#name-label2 {
    color: white;
    padding: 0px auto 10px auto;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;

}