body {
    background-image:url("CAB230bg.jpg");
    min-width:1024px;
    margin:0px;
}

#header {
    font-family:'Century Gothic';
    padding-top:20px;
    height:50px;
    font-size:40px;
    background-color:white;
    box-shadow:0px 10px 10px 10px white;
    text-align:center;
}

#header button {
    float:right;
    text-align:center;
    margin-top:15px;
    margin-right:35px;
    width:90px;
    border:1px solid #89c3eb;
}

#header button:hover {
    background-color:#00ffff;
}

#contents {
    float:right;
    height:650px;
    width:350px;
    margin-top:70px;
    margin-right:30px;
    border:2px solid grey;
    background-color:white;
}

#contents input {
    margin-left:29px;
    margin-right:-28px;
    border:1px solid #89c3eb;
}

#contents h6 {
    margin-left:60px;
    text-decoration:underline;
}

#contents select {
    border:1px solid #89c3eb;
}

#contents p {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    text-align:center;
}

#contents select {
    margin-left:29px;
}

#contents button {
    text-align:center;
    margin-top:15px;
    margin-left:130px;
    border:1px solid #89c3eb;
    width:100px;
    height:20px;
}

#contents button:hover {
    background-color:#00ffff;
}