#header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
}

#nograd {
    width: 100%;
    height: 40px;
    background-color: #000000;
    clear:both;
    color: #ffffff;
}

#logo {
    margin-top: 3px;
    margin-left: 100px;
    float: left;
}

#menu {
    margin-right: 100px;
}

.menu {
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 7px;
    margin-right: 10px;
    float: right;
}

.menu:hover {
    color: #000000;
    background: #e0e0d1;
}

#h_grad {
    width: 100%;
    height:30px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
}

#f_grad {
    width: 100%;
    height:30px;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}
