body {
    background-image: url("../images/background_1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
    height: 100%;
}

#wrapper {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
}

#content {
    width: 1024px;
    margin: 0 auto;    
}

/* Map Box */
#map-border {
    background-color: rgba(0,0,0,0.6);
    border: 1px solid #666666;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    float: left;
    margin: 200px 10px 50px 0px;

}

#map {
    margin-left: 25px;
    margin-top: 25px;

    height: 450px;
    width: 450px;

    border: 1px solid #666666;
    border-radius: 10px;
    float: left;
}

/* Search Results Box */
#droplist {
    background-color: rgba(0,0,0,0.6);
    border: 1px solid #666666;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    float: left;
    margin: 200px 0px 50px 10px;

}

.title {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    border: none;
    min-width: 400px;
}

.dropdown-content {
    position: absolute;
    width: 450px;
    height: 405px;
    margin-left: 24px;
    overflow: auto;
    border: 1px solid #666666;
    z-index: 1;
    overflow: auto;
}

.dropdown-content a {
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: block;
    background-color: rgba(224, 224, 209, 0.6);
    height: 105px;
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
}

.dropdown-content a:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    transition: background-color 0.25s;
}